body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f0f2f5;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #0078ff;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(255,255,255,0.55), rgba(0,0,0,0.55));
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    border-radius: 12px;
}


.hero-content {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 42px;
    margin: 0 0 15px;
}

.hero-content p {
    font-size: 16px;
    line-height: 1.6;
}

/* BOOK GRID */
.book-container {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
    padding: 0 30px;
}

/* BOOK CARD */
.book-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    cursor: pointer;
}

.book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.15);
}

.book-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.book-card h3 {
    padding: 15px;
    font-size: 20px;
}

.book-card a {
    margin: 0 15px 20px;
    padding: 10px 15px;
    display: inline-block;
    background: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.book-card a:hover {
    background: #005fcc;
}

.nav-links li a.active {
    color: #0078ff;
    font-weight: 600;
    border-bottom: 2px solid #0078ff;
    padding-bottom: 3px;
}